In [3]:
import pandas as pd
def createDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  print( df );

createDataframe()

   name  age        location
0  Alfa   28          Santos
1  Beta   18       São Paulo
2  Gama   32  Rio de Janeiro

In [4]:
def iterateDataframe():

  map = {
      "name" : ["Alfa", "Gama", "Beta"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # não indicado para alto volume de dados ( somente para conhecimento )
  for index in df.index:
    print("item", df["name"][ index ], " | index", index  );

iterateDataframe()

item Alfa  | index 0
item Gama  | index 1
item Beta  | index 2

In [5]:
def addColumnDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # adicionando uma nova coluna
  address = ['Rua de teste 1', 'Rua de teste 2', 'Rua de teste 3'];

  df['address'] = address;

  print( df )

addColumnDataframe()

   name  age        location         address
0  Alfa   28          Santos  Rua de teste 1
1  Beta   18       São Paulo  Rua de teste 2
2  Gama   32  Rio de Janeiro  Rua de teste 3

In [6]:
def removeColumnDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # Removendo a linha pelo índice
  df = df.drop(1)

  print( df )

  print("---------------------------")

  # Removendo a coluna
  df = df.drop( columns=["age"] );

  print ( df );

removeColumnDataframe()

   name  age        location
0  Alfa   28          Santos
2  Gama   32  Rio de Janeiro
---------------------------
   name        location
0  Alfa          Santos
2  Gama  Rio de Janeiro

In [8]:

def filterDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama", "Delta", "Épsilon"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", "Santa Catarina", "Goiás"]
  }

  df = pd.DataFrame( map );

  # criando o filtro
  filter = df["age"] >= 18;

  # Filtrando a lista
  filteredList = df[ filter ];

  print ( df );
  print("----------------------");
  print( filteredList )

filterDataframe()

      name  age        location
0     Alfa   28          Santos
1     Beta   18       São Paulo
2     Gama   32  Rio de Janeiro
3    Delta   17  Santa Catarina
4  Épsilon   14           Goiás
----------------------
   name  age        location
0  Alfa   28          Santos
1  Beta   18       São Paulo
2  Gama   32  Rio de Janeiro

In [9]:
def stringDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama", "Delta", "Épsilon"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["santos", "são Paulo", "rio de Janeiro", "Santa catarina", "Goiás"]
  }

  df = pd.DataFrame( map );


  print("original dataframe")
  print ( df );
  print("-------------------------------------------");

  # maiúscula
  print()
  print("Upper case")
  print( df["location"].str.upper() )
  print("--------------------------------------------");

  print()
  print("Upper in dataframe")
  df["location"] = df["location"].str.upper()
  print( df );
  print("------------------------------------------");

  # Somente a primeira maiuscula
  print()
  print("Capitalize")
  df["location"] = df["location"].str.capitalize()
  print( df );
  print("------------------------------------------");

  # Somente a primeira de cada palavra
  print()
  print("Title")
  df["location"] = df["location"].str.title()
  print( df );
  print("------------------------------------------");

stringDataframe()

original dataframe
      name  age        location
0     Alfa   28          santos
1     Beta   18       são Paulo
2     Gama   32  rio de Janeiro
3    Delta   17  Santa catarina
4  Épsilon   14           Goiás
-------------------------------------------

Upper case
0            SANTOS
1         SÃO PAULO
2    RIO DE JANEIRO
3    SANTA CATARINA
4             GOIÁS
Name: location, dtype: object
--------------------------------------------

Upper in dataframe
      name  age        location
0     Alfa   28          SANTOS
1     Beta   18       SÃO PAULO
2     Gama   32  RIO DE JANEIRO
3    Delta   17  SANTA CATARINA
4  Épsilon   14           GOIÁS
------------------------------------------

Capitalize
      name  age        location
0     Alfa   28          Santos
1     Beta   18       São paulo
2     Gama   32  Rio de janeiro
3    Delta   17  Santa catarina
4  Épsilon   14           Goiás
------------------------------------------

Title
      name  age        location
0     Alfa   28          Santos
1     Beta   18       São Paulo
2     Gama   32  Rio De Janeiro
3    Delta   17  Santa Catarina
4  Épsilon   14           Goiás
------------------------------------------

In [10]:
def renameDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama", "Delta", "Épsilon"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", "Santa Catarina", "Goiás"]
  }

  df = pd.DataFrame( map );

  # renomeando
  df = df.rename(columns={"age": "idade", "location": "localizacao"})

  print ( df );
  print("----------------------");

renameDataframe()

      name  idade     localizacao
0     Alfa     28          Santos
1     Beta     18       São Paulo
2     Gama     32  Rio de Janeiro
3    Delta     17  Santa Catarina
4  Épsilon     14           Goiás
----------------------

In [11]:
def jsonDataframe():

  map = {
      "name" : ["Alfa", "Beta", "Gama", "Delta", "Épsilon"],
      "age" : [ 28, 18, 32, 17, 14 ]
  }

  df = pd.DataFrame( map );

  # json
  json = df.to_json(orient="records")

  print ( df );
  print("----------------------");
  print( json )

jsonDataframe()

      name  age
0     Alfa   28
1     Beta   18
2     Gama   32
3    Delta   17
4  Épsilon   14
----------------------
[{"name":"Alfa","age":28},{"name":"Beta","age":18},{"name":"Gama","age":32},{"name":"Delta","age":17},{"name":"\u00c9psilon","age":14}]